@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
.subtitle {
  font-size: 1.4rem;
  color: #b1aaaa;
  margin-top: -13px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

body {
  background-image:
  linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)),
   url('../assets/background.png');   /* 设置背景图片 */
  background-size: 65% 75%;  /* 缩小图片大小，宽度和高度各占 50% */
  background-repeat: no-repeat;  /* 防止背景图重复 */
  background-position: center center;  /* 图片居中显示 */
  
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('@/assets/fonts/MyCustomFont.ttf') format('truetype');
}


